<!--Geidy Ducuara Ruiz - 200419082-->
<!-- Form Add products ads -->
<h1>Add a New Ad</h1>
<form method="post">
    <div class="form-group">
        <fieldset class="form-group">
            <label class="control-label col-md-2">Title: *</label>
            <input name="title" class="form-control" id="title" required />

        </fieldset>
    </div>
    <div class="form-group">
        <fieldset class="form-group">
            <label class="control-label col-md-2">Description: *</label>
            <input name="description" class="form-control" id="description" required />
        </fieldset>
    </div>

    <fieldset class="form-group">
        <label class="control-label col-md-2">Quantity: *</label>
        <input name="quantity" class="form-control" id="quantity" required />
    </fieldset>
    
    <fieldset class="form-group">
        <label class="control-label col-md-2">Price: *</label>
        <input name="price" class="form-control" id="price" required />
    </fieldset>

    <button class="col-md-offset-2 btn-info">Save</button>
</form>

