<!--Geidy Ducuara Ruiz - 200419082-->
<!-- Form Add products ads -->
<h1>Add a New Ad</h1>
<p></p>
<hr />
<form method="post">

    <fieldset class="form-group">
        <label class="control-label col-md-2">Title: *</label>
        <input name="title" id="title" required />
    </fieldset>

    <fieldset class="form-group">
        <label class="control-label col-md-2">Description: *</label>
        <input name="description"  id="description" required />
    </fieldset>

    <fieldset class="form-group">
        <label class="control-label col-md-2">Quantity: *</label>
        <input name="quantity" id="quantity" required />
    </fieldset>

    <fieldset class="form-group">
        <label class="control-label col-md-2">Price: *</label>
        <input name="price" id="price" required />
    </fieldset>

    <button class="col-md-offset-2 btn-info">Save</button>
</form>

